// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

/// Lato font family
/// @type List
$font-lato: 'lato', sans-serif !default;
$font-roboto: 'roboto', sans-serif !default;

$fontweight-map: (
  fw-3: 300,
  fw-4: 400,
  fw-7: 700
);

@each $font, $size in $fontweight-map {
  .#{$font} {
    font-weight: $size;
  }
}
