// -----------------------------------------------------------------------------
// This file contains typography styles.
// -----------------------------------------------------------------------------

////
/// This is a group comment will create a new sidebar item in sassdoc.
/// @group Fonts
////

/// Home page title
h1 {
    font-size  : 72px;
    font-family: $font-lato;
}

///Movie names
h2 {
    font-size  : 48px;
    font-family: $font-lato;
}

///Movie names
h3 {
    font-size  : 30px;
    font-family: $font-lato;
}

///Movie names
h4 {
    font-size  : 20px;
    font-family: $font-lato;
    font-weight: 300;
}

///Movie names
h5 {
    font-size  : 18px;
    font-family: $font-lato;
    font-weight: 300;
}

///Movie meta items
h6 {
    font-size  : 14px;
    font-family: $font-lato;
    font-weight: 300;
}

///Body, subtext
p {
    font-size  : 16px;
    font-family: $font-lato;
    font-weight: 300;
}

///Menu items
a {
    font-size      : 16px;
    font-family    : $font-lato;
    text-decoration: none;
}
