pagination-controls .ng2-pagination {
    display: inline-block;
    max-width: 320px;
    padding: 0;
    margin: 0;
    ul{
        padding: 0;
    }
    li {
        width: 30px;
        margin: 0;
        background: transparent;
        &.current {
        background: transparent;
        font-weight: 700;
        span {
            color: $green;
        }
        }
        &.pagination-previous, &.pagination-next {
        background: transparent;
        font-weight: 700;
        display: none;
        }

        a:hover {
        background-color: transparent;
        cursor: pointer;
        }

        span {
        color: color($black);
        }
    }
}
