<section class="network__page">
  <div class="b-network__top-banner">
    <div class="container">
      <div class="row">
        <div class="g-tiles__block clearfix m-auto">
          <div class="g-tile">
            <div class="g-tile__icon">
              <i class="g-icon g-icon-brain"></i>
            </div>
            <div class="g-tile__label">
              Courses
            </div>
          </div>
          <div class="g-tile">
            <div class="g-tile__icon">
              <i class="g-icon g-icon-brain"></i>
            </div>
            <div class="g-tile__label">
              Events
            </div>
            <div class="g-notifier">3</div>
          </div>
          <div class="g-tile">
            <div class="g-tile__icon">
              <i class="g-icon g-icon-brain"></i>
            </div>
            <div class="g-tile__label">
              Courses
            </div>
          </div>
          <div class="g-tile">
            <div class="g-tile__icon">
              <i class="g-icon g-icon-brain"></i>
            </div>
            <div class="g-tile__label">
              Events
            </div>
            <div class="g-notifier">3</div>
          </div>
          <div class="g-tile">
            <div class="g-tile__icon">
              <i class="g-icon g-icon-brain"></i>
            </div>
            <div class="g-tile__label">
              Courses
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="g-separator"></div>

  <div class="b-network-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="g-title g-title__icon">
            <i class="g-icon g-icon-brain"></i>
            <span class="g-title__text">Industry Experts</span>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="b-network-infographic">
            <img src="/assets/images/network.jpg" alt="" class="">
          </div>

        </div>
      </div>
    </div>
  </div>
</section>